<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <h3 class="text-center"><strong>タグ一覧</strong></h3>
      <%= render 'post_blogs/tagbar', tag_lists: @tag_lists %>
    </div>
    <div class="col-9">
      <h3 class="text-center"><strong>新規投稿</strong></h3>
      <%= render 'post_blogs/form', post_blog: @post_blog %>
    </div>
  </div>
</div>