<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <h3 class="text-center"><strong>プロフィール</strong></h3>
      <%= render 'users/userinfo', user: @user %>
      <h3 class="text-center mt-3"><strong>ペット紹介</strong></h3>
    </div>
    <div class="col-9">
      <h3 class="text-center"><strong>ブログ一覧</strong></h3>
      <%= render 'post_blogs/index', post_blogs: @post_blogs %>
    </div>
  </div>
</div>